<!--
  Generated template for the BarcodePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Barcode</ion-title>
  </ion-navbar>

  <ion-toolbar [attr.primary]="isAndroid ? '' : null" no-border-top>
    <ion-segment [(ngModel)]="whichtab" [attr.light]="isAndroid ? '' : null">
      <ion-segment-button class="segment-activated" value="orders">Orders</ion-segment-button>
      <ion-segment-button value="scanned">Scanned</ion-segment-button>
      <ion-segment-button value="saved">Saved</ion-segment-button>
    </ion-segment>
  </ion-toolbar>


</ion-header>


<ion-content >

  <div [ngSwitch]="whichtab">


    <div *ngSwitchCase="'orders'">
      <ion-list>
        <ion-list-header>
          Recent
        </ion-list-header>
        <ion-item-sliding *ngFor="let i of ordersData">
          <ion-item (click)="displayBox(i.food_id)">{{i.food_name}}</ion-item>
          <ion-item-options>
            <button (click)="saveId(i.food_id)" secondary>
              <ion-icon name="add-circle"></ion-icon>
              Save
            </button>
            <button (click)="deleteOrders(i.food_id)" danger>
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

    </div>







      <ion-list *ngSwitchCase="'scanned'">
        <ion-list-header>
          Recent
        </ion-list-header>
        <ion-item-sliding *ngFor="let i of scannedData">
            <ion-item>{{i.food_name}}</ion-item>
          <ion-item-options>
            <button (click)="saveId(i.food_id)" secondary>
              <ion-icon name="add-circle"></ion-icon>
              Save
            </button>
            <button (click)="deleteScanned(i.food_id)" danger>
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>







      <ion-list *ngSwitchCase="'saved'">
        <ion-list-header>
          Recent
        </ion-list-header>
        <ion-item-sliding *ngFor="let i of savedData">
            <ion-item>{{i.food_name}}</ion-item>
          <ion-item-options>
            <button (click)="deleteSaved(i.food_id)"  danger>
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>


  </div>


</ion-content>
